/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: #90caf9;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.top-banner {
  min-height: 120px !important;
}

.banner {
  background-color: #2196f3;
}

.banner .header {
  color: #fff;
}

.banner h1 {
  margin-top: 16px;
}

.banner .row {
  margin-bottom: 0;
}

.header {
  color: #2196f3;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
}

.container {
  width: 90%;
}

/* Footer */
footer.page-footer {
  padding-top: 0;
  margin-top: 5px;
  background-color: #2196f3;
}

.footer-copyright {
  font-weight: 400 !important;
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  color: #fffc;
  background-color: #33333314;
}

/* blockquote */

blockquote {
  background-color: rgba(144, 202, 249, 0.6);
  padding: 5px;
  color: #666;
  margin: 20px 0;
  border-left: solid 5px #2196f3;
}

/* Revert DataTables styles, as Materialize override some default styles... */

.dataTables_wrapper label {
  font-size: 1rem;
  color: #000;
}

.dataTables_wrapper select {
  display: inline;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

.dataTables_wrapper .dataTables_filter input[type='search'] {
  border: 1px solid #000;
  height: inherit;
  width: inherit;
  font-size: inherit;
  margin: 0 0 0 0.5em;
  display: inline-block;
  background-color: #fff;
  visibility: visible !important;
}

.dataTables_empty {
  display: none;
}

/** copy to clipboard button css */

div.code-toolbar > .toolbar {
  opacity: unset !important;
  top: 0.5em !important;
  right: 0.5em !important;
}

div.code-toolbar > .toolbar button {
  color: black !important;
  background-color: white !important;
  padding: 4px !important;
  font-size: 15px !important;
}

/* markdown library stuff */

markdown h5:not(markdown.faqMarkdown) {
  color: #2196f3;
}

/** Fixed columns css

These classes are injected by fixed columns extensions
and can be tweaked here to match the colors of headers and body
to hide the scrolling element behind the fixed header.

*/

table.dataTable thead tr > .dtfc-fixed-left,
table.dataTable thead tr > .dtfc-fixed-right,
table.dataTable tfoot tr > .dtfc-fixed-left,
table.dataTable tfoot tr > .dtfc-fixed-right {
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: white;
}

table.dataTable tbody tr > .dtfc-fixed-left,
table.dataTable tbody tr > .dtfc-fixed-right {
  z-index: 1;
  background-color: white;
}

div.dtfc-left-top-blocker,
div.dtfc-right-top-blocker {
  background-color: white;
}

/* Dt v2 CSS messed up some stuff */
.dt-search input {
  width: 200px !important;
  height: 20px !important;
}

select.dt-input {
  display: inline-block !important;
  width: 60px;
  height: 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

h3.header {
  font-size: 2.92rem;
  font-weight: 400;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem;
}

.grey-text.text-darken-4 {
  color: #212121 !important;
}

sup {
  top: -0.5em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a:hover {
  outline: 0;
}

.subheader {
  cursor: initial;
  pointer-events: none;
  color: #0000008a;
}

span.badge.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  float: right;
  box-sizing: border-box;
}

.red {
  background-color: #f44336 !important;
}

.white-text {
  color: #fff !important;
}
